.download-button {
  cursor: pointer;
  border: 1px solid;
  border-radius: 3px;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: #fff;
}

@media screen and (max-width: 480px) {
  .download-button {
    width: 100%;
  }
}
