.footer {
  font-size: 0.8em;
  text-align: center;
  margin: 6rem -1.125rem -2.25rem;
  padding: 1.125rem 0px;
  color: rgb(119, 119, 119);
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .footer {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
}
