a {
  color: inherit;
  font-family: inherit;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
}

.visible-print {
  display: none !important;
}

.hidden-mobile {
  display: block !important;
}
.visible-mobile {
  display: none !important;
}

@media print {
  .hidden-print {
    display: none !important;
  }
  .visible-print {
    display: block !important;
  }
}

@media screen and (max-width: 480px) {
  .hidden-mobile {
    display: none !important;
  }
  .visible-mobile {
    display: block !important;
  }
  iframe {
    max-width: 100%;
    height: auto;
  }
}

/* Navbar */
.navbarActiveLink {
  color: #000;
  font-weight: 900;
}

/* Layout */

.layout-container {
  margin-left: auto;
  margin-right: auto;
  padding: 2.25rem 1.125rem;
  max-width: 36rem;
}

@media screen and (max-width: 480px) {
  .layout-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
