.preview {
  margin: 0 -1.5rem;
}
.preview[max-width~="768px"] {
  margin: 0 -0.5rem;
}

.preview-link {
  display: block;
  margin: 0.5em auto;
}

.preview-tab {
  background-color: #fff;
  border: 1px solid #eee;
  cursor: pointer;
  padding: 0.25em 0.5em;
  text-align: center;
  width: 75px;
  transition: 250ms;
  will-change: font-weight;
}
.preview-tab:focus,
.preview-tab:active,
.preview-tab:focus:active {
  outline-color: #fff;
}
.preview-tab.active {
  background-color: #eee;
  background-color: #eee;
  font-weight: 700;
}
