.site-header-button {
  margin: 5px;
  display: inline-block;
  max-width: 250px;
}

.site-header {
  text-align: center;
  margin-bottom: 6rem;
}

@media screen and (max-width: 480px) {
  .site-header-button {
    display: block;
    margin: 5px auto;
  }

  .site-header {
    margin-bottom: 3rem;
  }
}
