:root {
  --blue: #66d9ef;
  --yellow: #e6db74;
  --dark: #272822;
  --light: #ffffff;

  --text-primary: #000;
  --text-secondary: #2f2d2d;

  --font-code: "IBM Plex Mono", "Consolas", "Monaco", "Andale Mono",
    "Ubuntu Mono", monospace;
  --font-heading: "IBM Plex Serif", "-apple-system", "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
    "Helvetica Neue", "sans-serif";
  --font-normal: "IBM Plex Sans", "-apple-system", "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
    "Helvetica Neue", "sans-serif";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--font-normal);
  font-size: 1rem;
  line-height: 1.8;
}

code,
pre {
  font-family: var(--font-code);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: 1.5; /* Since on body we set 1.8 */
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: underline;
}

ul {
  padding-left: 1rem;
  padding-inline-start: 1rem;
}

hr {
  height: 1px;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-color: var(--dark);
  border-style: dashed;
}

.visible-print {
  display: none !important;
}

.hidden-mobile {
  display: block !important;
}
.visible-mobile {
  display: none !important;
}

@media print {
  .hidden-print {
    display: none !important;
  }
  .visible-print {
    display: block !important;
  }
}

@media screen and (max-width: 480px) {
  .hidden-mobile {
    display: none !important;
  }
  .visible-mobile {
    display: block !important;
  }
  iframe {
    max-width: 100%;
    height: auto;
  }
}

/* Global CSS Components */
.button {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 0.75rem;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid currentColor;
  cursor: pointer;
}

.button:focus {
  outline-color: currentColor;
}

.button:not(.button-block) {
  max-width: 15rem;
}

.button-block {
  display: block;
}

@media screen and (max-width: 48rem) {
  .button-block {
    width: 100%;
  }
}

.button:not(.button-outline) {
  background-color: var(--dark);
  color: var(--light);
}

.button-outline {
  color: var(--text-primary);
  background-color: var(--light);
}

/* General utility classnames */

/* Text */
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
/* Spacing */
.spacing-h > * + * {
  margin-left: 1rem;
}
.spacing-h.spacing-large > * + * {
  margin-left: 2rem;
}
.spacing-h.spacing-small > * + * {
  margin-left: 0.5rem;
}
.spacing-v > * + * {
  margin-top: 1rem;
}
.spacing-v.spacing-large > * + * {
  margin-top: 2rem;
}
/* List */
.list-none {
  list-style: none;
}
.list-inline > li {
  display: inline-block;
}
