:root {
  --blue: #66d9ef;
  --yellow: #e6db74;
  --bg-dark: #272822;

  --font-code: "IBM Plex Mono", "Consolas", "Monaco", "Andale Mono",
    "Ubuntu Mono", monospace;
  --font-heading: "IBM Plex Serif", "-apple-system", "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
    "Helvetica Neue", "sans-serif";
  --font-normal: "IBM Plex Sans", "-apple-system", "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
    "Helvetica Neue", "sans-serif";
}

body {
  font-family: var(--font-normal);
}

code,
pre {
  font-family: var(--font-code);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: inherit;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: underline;
}

.visible-print {
  display: none !important;
}

.hidden-mobile {
  display: block !important;
}
.visible-mobile {
  display: none !important;
}

@media print {
  .hidden-print {
    display: none !important;
  }
  .visible-print {
    display: block !important;
  }
}

@media screen and (max-width: 480px) {
  .hidden-mobile {
    display: none !important;
  }
  .visible-mobile {
    display: block !important;
  }
  iframe {
    max-width: 100%;
    height: auto;
  }
}
