.talks-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.talks-container[max-width~="768px"] {
  flex-direction: column;
}

.talk-container[max-width~="480px"] {
  padding: 0;
  margin-bottom: 0;
}

.talk-container {
  flex-basis: 50%;
  padding: 1em;
  margin-bottom: 1em;
}

.talk-head {
  border: 1px solid rgb(238, 238, 238);
  padding: 1.5rem 1.5rem 0px;
  border-radius: 0.375rem;
  box-shadow: rgb(238, 238, 238) 0px 0px 20px 2px;
  display: flex;
  flex-direction: column;
}
.talk-head[max-width~="768px"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.talk-head[max-width~="768px"]:first-child {
  margin-top: 1rem;
}

.talk-event {
  font-size: 0.6em;
  display: block;
  margin-top: 0.5em;
}

.talk-video-url {
  display: block;
  margin: 1em 0;
}

.talk-slides {
  display: block;
  margin: -0.5em 0 1em 0;
}

.audio {
  display: block;
  width: 100%;
}
